[submodule "playbooks/roles/ansible-role-zsh"]
	path = playbooks/roles/ansible-role-zsh
	url = git@github.com:viasite-ansible/ansible-role-zsh.git
[submodule "playbooks/roles/ansible-role-docker"]
	path = playbooks/roles/ansible-role-docker
	url = git@github.com:geerlingguy/ansible-role-docker.git
[submodule "playbooks/roles/ansible-role-customize-gnome"]
	path = playbooks/roles/ansible-role-customize-gnome
	url = git@github.com:PeterMosmans/ansible-role-customize-gnome.git
