[Desktop Entry]
Version=1.0
Name=Outline Client
Icon=/home/{{ ansible_env.USER }}/.icons/outline_icon.png
Exec=/home/{{ ansible_env.USER }}/.apps/Outline-Client.AppImage
Terminal=false
Type=Application
Categories=Utility;Development;
Keywords=Vpn;
