export ZSH="/home/{{ ansible_env.USER }}/.oh-my-zsh"

export ZSH="$HOME/.oh-my-zsh"


ZSH_THEME="robbyrussell"
#ZSH_THEME="powerlevel10k/powerlevel10k"

plugins=(
zsh-navigation-tools
{% for plugin in zsh_custom_plugins %}
  {{ plugin.name }}
{% endfor %}
git
bundler
dotenv
macos
rake
rbenv
ruby
)

source $ZSH/oh-my-zsh.sh


alias ll='ls -lah'
alias la='ls -A'
alias l='ls -CF'

alias docker-compose='docker compose'


#for possiblekey in ${HOME}/.ssh/*_rsa; do
#  if grep -q PRIVATE "$possiblekey"; then
#    ssh-add "$possiblekey" 2>/dev/null
#      fi
#      done

cd ~
export JAVA_HOME=/usr/lib/jvm/java-21-openjdk-amd64
export PATH=$JAVA_HOME/bin:$PATH
