- name: All servers setup
  hosts: all
  become_method: sudo
  connection: local

  vars_files:
    - includes/main-vars.yml
    - includes/apt-vars.yml
    - includes/extensions-vars.yml
    - includes/flatpaks-vars.yml
    - includes/zsh-vars.yml
    - includes/configs-vars.yml
    - includes/symlinks-vars.yml

  pre_tasks:
    - include_tasks: tasks/apt.yml
    - include_tasks: tasks/extensions.yml
    - include_tasks: tasks/flatpaks.yml
    - include_tasks: tasks/zsh.yml
    - include_tasks: tasks/configs.yml
    - include_tasks: tasks/symlinks.yml

  roles:
    - role: ansible-role-docker
      become: true

  post_tasks:
    - include_tasks: tasks/services-enable.yml
    - include_tasks: tasks/debug-message.yml
